html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #121212; /* Fundo escuro */
  color: #ffffff; /* Texto claro */
}

/* Faz o body ocupar toda a altura da página */
html, body {
  height: 100%; /* Garante altura completa */
  margin: 0; /* Remove margens extras */
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
}

/* Container principal para alinhar conteúdo */
.container {
  flex: 1; /* Permite que o conteúdo principal cresça e ocupe o espaço disponível */
}

/* Estilização do footer */
footer {
  background-color: #f8f9fa; /* Cor do fundo do footer */
  padding: 15px; /* Espaçamento interno */
  margin-top: auto; /* Move o footer para o fim */
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}